//Primary Colors
$accent-color: #ad241b;

//Background Colors
$background-primary-color: #0f0f0f;
$background-secondary-color: #1a161f;
$background-tertiary-color: #364952;

//Text Colors
$primary-text: #fffaff;
