//Primary Colors
$accent-color: #1aac54;

//Background Colors
$background-primary-color: #304e57;
$background-secondary-color: #1a161f;
$background-tertiary-color: #849494;

//Header Color
$header-background-color: #1b2634;

//Text Colors
$primary-text: #fffaff;
$secondary-text: #afbaba;
