@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colours" as *;

.movie-lists {
  padding: 1.5rem 1.5rem;

  @include tablet {
    width: 40.625rem;
    margin: 0 auto;
  }

  &__button-container {
    text-align: center;
  }

  &__create-button {
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    background-color: $accent-color;
    width: auto;
    display: inline-block;
    border-radius: 0.625rem;
    color: $primary-text;
    font-family: $open-sans;

    &:hover {
      background-color: darkgreen;
      transform: scale(1.1);
    }
  }

  &__title {
    color: $secondary-text;
    text-align: start;
    margin: 2rem 0;
    border-bottom: 1px solid $secondary-text;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  &__card-link {
    text-decoration: none;
    color: $primary-text;
    width: 100%;
  }

  &__card {
    background-color: #07090c;
    opacity: 60%;
    padding: 1rem 1rem calc(13.427px + 16px);
    width: 100%;
    box-shadow: 0 3px 10px #fff;
    border-radius: 0.625rem;

    &:hover {
      transform: scale(1.02);
      box-shadow: 0px 0px 0px 0.1875rem $accent-color inset;
    }
  }

  &__icon-container {
    display: flex;
    justify-content: flex-end;
  }

  &__delete-icon {
    cursor: pointer;
  }

  &__info-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  &__single-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      flex-direction: row;
      justify-content: center;
      gap: 2rem;
    }
  }

  &__images-container {
    display: flex;
  }

  &__image {
    width: 3.75rem;
    height: 5.625rem;
    object-fit: cover;
    border-radius: 0.625rem;
    border: 1px solid $primary-text;
    z-index: 5;
    position: relative;
    flex: 1;

    &--empty {
      background-color: #849494;
    }
  }

  &__movie-info {
    text-align: center;
    margin-top: 1rem;

    @include tablet {
      text-align: left;
      margin-top: 0;
      flex: 1;
    }
  }

  &__movie-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-family: $playfair-display;

    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__total-movies {
    font-size: 0.625rem;
    color: $secondary-text;
    font-family: $open-sans;

    @include tablet {
      font-size: 1rem;
    }
  }

  &__movie-description {
    color: $secondary-text;
    font-size: 0.75rem;
    margin-top: 0.5rem;
    font-family: $open-sans;

    @include tablet {
      font-size: 1.25rem;
    }
  }

  &__view-button {
    display: inline-block;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 0.625rem;
    border: none;
    background-color: $accent-color;
    color: $primary-text;
    cursor: pointer;
    text-decoration: none;
    font-family: $open-sans;

    &:hover {
      background-color: darkgreen;
      color: $primary-text;
    }
  }

  &__empty-card {
    background-color: #14181c;
    text-align: center;
    border-radius: 0.3125rem;
    box-shadow: 0 2px 5px $primary-text;
    height: 15rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem;
  }

  &__empty-title {
    font-size: 1rem;
    padding: 3rem 0 1rem;
  }

  &__empty-description {
    font-size: 0.75rem;
    color: $secondary-text;
    padding-bottom: 3rem;
  }
}
