@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colours" as *;

.header {
  background-color: $header-background-color;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo-link {
    text-decoration: none;
    color: $primary-text;
  }

  &__logo-icon {
    width: 2rem;
  }

  &__logo-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }

  &__logo-name {
    font-size: 1rem;
    line-height: 2rem;
  }

  &__user-section {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__user-container {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }

  &__user-pic {
    width: 100%;
    border-radius: 50%;
    border: 0.0625rem solid $accent-color;
  }
}

.nav {
  &__list-link {
    text-decoration: none;
    font-family: $open-sans;
    font-size: 0.75rem;
    list-style: none;
    padding: none;
  }

  &__list-item {
    color: $primary-text;
  }
}
