@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colours" as *;

.footer {
  width: 100%;
  background-color: $header-background-color;
  height: 5rem;
  margin-top: auto;
}
