@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colours" as *;
@use "../../App.scss" as *;

.filter {
  display: flex;
  gap: 1rem;
  margin: 1rem 1rem 2rem;

  &__button {
    flex: 1;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: $accent-color;
    border: none;
    border-radius: 0.625rem;

    &:hover {
      background-color: darkgreen;
      transform: scale(0.98);
    }
  }

  &__add-icon {
    width: 0.9375rem;
  }

  &__add-text {
    font-size: 0.75rem;
    color: $primary-text;
  }

  &__search-box {
    flex: 1;
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 2px solid $accent-color;
    border-radius: 0.625rem;
  }

  &__search-input {
    background-color: $background-primary-color;
    border: none;
    flex: 1;
    color: $primary-text;
    outline: none;

    &::placeholder {
      font-size: 0.75rem;
    }
  }
}
