@use "./styles/partials/variables" as *;
@use "./styles/partials/fonts" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/colours" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: $playfair-display;
  background-image: linear-gradient(
    135deg,
    $background-primary-color 40%,
    #29414b,
    #223340,
    $header-background-color
  );
  min-height: 100vh;
  opacity: 90%;
  color: $primary-text;
  background-repeat: no-repeat;
}
