@use "./styles/partials/variables" as *;
@use "./styles/partials/fonts" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/colours" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $playfair-display;
  background-color: $background-primary-color;
  color: $primary-text;
}

// .main-aside__wrapper {
//   @include desktop {
//     display: flex;
//     width: 63.75rem;
//     margin: 0 auto;
//   }
// }
